@font-face {
	font-family: "icons";
	font-display: swap;
	src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"],
[class*=" _icon-"] {
	&:before {
		@extend %ic;
		display: block;
	}
}

._icon-fb:before {
  content: "\e905";
}
._icon-tw:before {
  content: "\e911";
}
._icon-inst:before {
  content: "\e912";
}
._icon-play:before {
  content: "\e913";
}
._icon-arrow:before {
  content: "\e914";
}
._icon-loupe:before {
  content: "\e915";
}
._icon-global:before {
  content: "\e916";
}
._icon-enter:before {
  content: "\e917";
}
._icon-chevr:before {
  content: "\e918";
}